<div class="jumbotron bg-primary">
  <div class="container text-center">
    <p><img id="logo" src="/images/logo.png" alt="logo" /></p>
    <h1>File Shredder</h1>
    <h2>Spread your files for free!</h2>
    <p>
      <a href="<%= FileShredderWeb.Router.Helpers.auth_path(FileShredderWeb.Endpoint, :register) %>" class="btn btn-light">
        Join Now
      </a>
    </p>
    
  </div>
</div>