<div class="row mt-5">
    <div class="col-md-8 offset-md-2 col-sm-12 col-lg-6 offset-lg-3">
        <%= form_for :credentials, "", fn form -> %>

            <div class="card">
                <div class="card-header">
                    Sign in
                </div>
                <div class="card-body">
                    <% error = get_flash(@conn, :error) %>
                    <%= if error do %>
                        <div class="alert alert-warning">
                            <%= error %>
                        </div>
                    <% end %>
                    <div class="form-group">
                        <%= label form, :login, class: "control-label" %>
                        <%= text_input form, :login, class: "form-control", placeholder: "admin@fileshredder.com" %>
                        <%= error_tag form, :email %>
                    </div>

                    <div class="form-group">
                        <%= label form, :password, class: "control-label" %>
                        <%= password_input form, :password, class: "form-control", placeholder: "*********" %>
                        <%= error_tag form, :password %>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="" class="btn btn-outline-secondary btn-sm">
                        Register
                    </a>
                    <button type="submit" class="btn btn-primary btn-sm">
                        Log in
                    </button>
                </div>
            </div>

        <% end %>
    </div>
</div>
