<div class="row mt-5">
    <div class="col-md-8 offset-md-2 col-sm-12 col-lg-6 offset-lg-3">
        <%= form_for @user, "", fn form -> %>
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <%= label form, :username, class: "control-label" %>
                        <%= text_input form, :username, class: "form-control", placeholder: "Oroku Saki" %>
                        <%= error_tag form, :username %>
                    </div>

                    <div class="form-group">
                        <%= label form, :email, class: "control-label" %>
                        <%= text_input form, :email, class: "form-control", placeholder: "admin@fileshredder.com" %>
                        <%= error_tag form, :email %>
                    </div>

                    <div class="form-group">
                        <%= label form, :password, class: "control-label" %>
                        <%= password_input form, :password, class: "form-control", placeholder: "*********" %>
                        <%= error_tag form, :password %>
                    </div>

                    <div class="form-group">
                        <%= label form, :password_confirm, class: "control-label" %>
                        <%= password_input form, :password_confirm, class: "form-control", placeholder: "*********" %>
                        <%= error_tag form, :password_confirm %>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="" class="btn btn-link btn-sm">
                        Already have account?
                    </a>
                    <button type="submit" class="btn btn-primary btn-sm">
                        Sign up
                    </button>
                </div>
        <% end %>
    </div>
</div>