<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">File Shredder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% 
            user = current_user(@conn) 
            show_add_btn = Map.get(assigns, :show_add_btn, false)
        %>
        <div class="ml-auto">
            <%= if is_nil(user) do %>
                <a href="<%= auth_path(:login) %>" class="btn btn-link text-light">
                    Log in
                </a>
                <a href="<%= auth_path(:register) %>" class="btn btn-light">
                    Sign up
                </a>
            <% else %>
                <%= if show_add_btn do %>
                    <button class="btn btn-light btn-sm" 
                        id="upload-file-btn"
                        data-toggle="modal"
                        data-target="#file-modal"
                    >
                        + Upload file
                    </button>
                <% end %>
                <a href="/home" class="navbar-test text-light font-weight-bold ml-5">
                    <%= user.username %>
                </a>
            <% end %>
        </div>

    </div>
</nav>
