<div class="list-group" id="category-list">
    <a href="<%= category_path(nil) %>" 
        class="d-flex justify-content-between align-items-center list-group-item list-group-item-action <%= unless @current_category, do: "active" %>">
        All files
        <span class="badge <%= unless @current_category, do: "badge-light", else: "badge-primary" %> badge-pill">
            <%= @all_files %>
        </span>
    </a>

    <%= for [category, files] <- @categories do %>
        <a href="<%= category_path(category.id) %>" 
            class="d-flex justify-content-between align-items-center list-group-item list-group-item-action  <%= if @current_category == category.id, do: "active" %>">
            <span class="text-fixed-container"><%= category.name %></span>
            <span class="badge <%= if @current_category == category.id, do: "badge-light", else: "badge-primary" %> badge-pill">
                <%= files %>
            </span>
        </a>
    <% end %>

</div>