<div class="modal fade" tabindex="-1" role="dialog" id="file-modal">
  <div class="modal-dialog" role="document">
    <%= form_for :file, file_path(), [method: :post, multipart: true], fn form -> %>
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">File upload</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>
                    Category
                </label>
                <div class="file-input">
                    <select class="form-control" name="category_id">
                        <option value="">&mdash;No category&mdash;</option>
                        <%= for [category, _] <- @categories do %>
                            <option 
                                value="<%= category.id %>"
                                <%= if @current_category == category.id, do: 'selected=""' %>
                            >
                                <%= category.name %>
                            </option>
                        <% end %>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>
                    Select file
                </label>
                <div class="file-input">
                    <input type="file" name="file" />
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                Cancel
            </button>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
        </div>
    <% end %>
  </div>
</div>
