<table class="table table-sm table-striped">
    <thead>
        <tr>
            <%# <th></th> иконочка %>
            <th>Filename</th>
            <%# <th>Mimetype</th> %>
            <%# <th>Size</th> %>
            <th>Created</th>
            <th>Modified</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <%= for file <- @files do %>
            <tr data-id="<%= file.id %>" class="filelist-item">
                <%# <td>@</td> %>
                <td>
                    <a href="<%= file_path(file) %>">
                        <%= file.filename %>
                    </a>
                </td>
                <%# <td><%= file.mimetype % ></td> %>
                <%# <td>500 KB</td> %>
                <td><%= file.inserted_at %></td>
                <td><%= file.updated_at %></td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        <%# <button class="btn btn-outline-primary">
                            E
                        </button> %>
                        <button class="btn btn-outline-success file-share-btn" data-link="<%= share_link(file) %>">
                            Share
                        </button>
                        <button class="btn btn-outline-danger file-delete-btn">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        <% end %>

    </tbody>
</table>