<div class="modal fade" tabindex="-1" role="dialog" id="file-share-modal">
  <div class="modal-dialog" role="document">
    <form action="" method="post">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Sharing file</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#shared-link">
                        Share link
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#shared-email">
                        Send via email
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade p-2 show active" id="shared-link">
                    <div class="form-group">
                        <label>
                            File link
                        </label>
                        
                        <input class="form-control" type="text" readonly="" value="http://" id="shared-link-input" />
                        
                    </div>
                </div>
                <div class="tab-pane fade p-2" id="shared-email">
                    <div class="form-group">
                        <label>
                            Email to send link
                        </label>
                        
                        <input class="form-control" type="text" placeholder="admin@fileshredder.com" value="" id="shared-email-input" />
                        
                    </div>

                    <button class="btn btn-primary">
                        Send link
                    </button>
                </div>
            </div>

        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                Cancel
            </button>
            <button type="button" class="btn btn-primary">Upload</button>
        </div>
        </div>
    </form>
  </div>
</div>
