<div class="row">
    <div class="col-md-3">
        <input type="hidden" id="_csrf_token"  name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
        <button class="btn btn-outline-secondary btn-block mb-2" id="add-category-btn">
            + Add category
        </button>

        <%= render "_category.html",
            categories: @categories,
            all_files: @all_files,
            current_category: @current_category
        %>
    </div>

    <div class="col-md-9">
        <%= render "_files.html", files: @files %>
        <%= render FileShredderWeb.HomeView, "_file_modal.html", 
            categories: @categories,
            current_category: @current_category
        %>
        <%= render "_share_modal.html" %>
    </div>
</div>