<div class="col-md-8 offset-md-2 text-center">
    <%= if String.ends_with?(@file.filename, [".jpg", ".jpeg", ".png"]) do %>
        <figure class="mb-4 img-thumbnail">
            <img class="figure-img img-fluid " src="https://placekitten.com/800" />
            <figcaption class="figure-caption text-right">Image preview</figcaption>
        </figure>
        
        
    <% end %>

    <a href="<%= FileShredderWeb.Router.Helpers.shared_url(FileShredderWeb.Endpoint, :shared, @file.path, download: "1") %>" class="btn btn-primary">
        Download <%= raw @file.filename %>
    </a>
</div>
